<?xml version="1.0"?>
<commandcenter>
  <gateway mode="on" ipAddress="0.0.0.0" />
  <peripherals orderman="off" />
  <downloadFolder value="C:\\temp\\" />
  <siteId value="5899#NUMSERIAL#" />
  <pos id="" />
  <unitNumber value="" />
  <nodeNumber value="" />
  <nodeConfig id="" />
  <siteInfo enterpriseId="" siteName="" phone="" phone2="" address1=""
    address2="" openTime="" />
  <fileTransfer version="Chunked" />
</commandcenter>